<div>
    <h1>Municipios</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a ng-href="#/municipio">Municipio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Pesquisa</li>
        </ol>
    </nav>

    <form>
        <div class="row">
            <div class="input-group mb-3 col-sm-6">
                    <input type="text" class="form-control" placeholder="Filtrar por descrição" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <a ng-href="#/municipio/form" class="btn btn-primary" id="button-addon2">
                            <i class="fas fa-plus"></i>
                            Novo Municipio</a>
                    </div>
            </div>
        </div>    
    </form>


    <div class="row">
      <div class="col-sm-12">
        <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Ações</th>
                <th></th>
            </tr>
        </thead>
        <!-- modal -->
       <div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">
            <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
                <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body" id="modal-body">
                <ul>
                    <li ng-repeat="item in $ctrl.items">
                        <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
                    </li>
                </ul>
                TEXTO</b>
        </div>
        <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
       
        <tbody>
            <tr ng-repeat="municipio in municipios | filter: {'nome' : filtro }">
                <td>{{municipio.id}}</td>
                <td>{{municipio.nome}}</td>
                <td>{{municipio.descricao}}</td>
                <td><button type="button" class="btn btn-default" ng-click="$ctrl.open()" ><i class="fa fa-trash"></i></button></td>
                <td><a class="btn btn-success"  ng-href="#/municipio/form/{{municipio.id}}"> <i class="fas fa-edit"></i></a></td>
            </tr>
        </tbody>
        </script>
        </div>
        <!-- modal -->

        </table>
      </div>  
     </div>
</div>
