<div class="container">
        <h1 class="h2" ng-hide="municipio.id">Cadastro de Municipios</h1>
        <h1 class="h2" ng-show="municipio.id">Edição de Municipios</h1>

        <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a ng-href="#/municipio">Municipio</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page" ng-hide="municipio.id">Cadastro</li>
                    <li class="breadcrumb-item active" aria-current="page" ng-show="municipio.id">Edição</li>
                </ol>
            </nav>    

    <form  name="municipioForm" novalidate ng-class="{'was-validated': municipioForm.$submitted}">
        <div  class="form-group">
            <label for="nome">Nome</label>
            <input type="text" required name="nome" id="nome" ng-model="municipio.nome" class="form-control" ng-class="{'is-invalid': municipioForm.nome.$invalid && municipioForm.nome.$dirty}">
            <div class="invalid-feedback" ng-messages="municipioForm.descricao.$error">
                    <span ng-message="required">Obrigatório</span>
            </div>
        </div>

        <div  class="form-group">
            <label for="descricao">Descrição</label>
            <input type="text" name="descricao" id="descricao" ng-model="municipio.descricao" class="form-control">
        </div>

    </form>

    <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-hide="municipio.id" ng-disabled="municipioForm.$invalid" ng-click="salvar(municipioForm,municipio)">
                <i class="fas fa-save"></i> Salvar</button>

            <button type="submit" class="btn btn-primary" ng-disabled="municipioForm.$invalid" ng-show="municipio.id" ng-click="salvar(municipioForm,municipio)">
                <i class="far fa-edit"></i>
                Edição</button>

            <a class="btn btn-primary" ng-href="#/municipio"><i class="fas fa-long-arrow-alt-left"></i> Voltar</a>
        </div>
</div>